<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}"/>

    <link href="https://db.onlinewebfonts.com/c/a1932449c96443eef1a950f01dd62a8d?family=Earthquake+MF" rel="stylesheet">

    {% if title %}
        <title>Flask app {{ title }}</title>
    {% else %}
        <title>Flask app - Else</title>
    {% endif %}
    <style>
        body { margin: 0; padding: 0; }
        html, body, #map { height: 100%; }
    </style>

</head>

<body>
    <div>
    <h1>Earthquake Search</h1>
    </div>

    <div class ="search_field">
        <form method="POST">
            <p>
            <label for="search_field"> Select a Magnitude Range</label>
            </p>
            <p>
                <input type="text" name="min_mag" id="min_mag" placeholder="2.0">
                <input type="text" name="max_mag" id="max_mag" placeholder="7.4">
            </p>
            <p>
            </p>
            <button type="submit">Search</button>
            
        </form>

        <!-- <h3>{{magnitude}}</h3>
        <h3>Latitude: {{latitude}}</h3>
        <h3>Longitude: {{longitude}}</h3>
        <h3>MAX MAG = {{max_mag}}</h3> -->
    </div>
    <br>

    <div id="map">
    {% if magnitude %}
    <iframe src="static/folium.html" title="Folium Map" width="800" height="600">
    </iframe>
    {% else %}
    You haven't submitted a search yet.
    {% endif %}
    </div>
    
</body>


</html>